## WEB SCRAPING – ASSIGNMENT 2


### Instructions
### 1. All the questions must be done in a single Jupyter notebook.
### 2. There should be proper comments in code.

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
### have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
### jobs data.
### This task will be done in following steps:
### 1. First get the webpage https://www.naukri.com/
### 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
### location” field.
### 3. Then click the search button.
### 4. Then scrape the data for the first 10 jobs results you get.
### 5. Finally create a dataframe of the scraped data.
### Note: All of the above steps have to be done in code. No step is to be done manually.

In [2]:
# job-title, job-location, company_name, experience_required
!pip install selenium

from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
import requests
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

Requirement already satisfied: selenium in e:\datatrained\anaconda\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in e:\datatrained\anaconda\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in e:\datatrained\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in e:\datatrained\anaconda\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: idna in e:\datatrained\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in e:\datatrained\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in e:\datatrained\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in e:\datatrained\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in e:\datatrained\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in e:\datatrained\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in e:\datatrained\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in e:\datatrained\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in e:\datatrained\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in e:\datatrained\anaconda\lib\site-packages (from urllib3[secure]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in e:\datatrained\anaconda\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in e:\datatrained\anaconda\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in e:\datatrained\anaconda\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in e:\datatrained\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [34]:
driver = webdriver.Chrome('chromedriver.exe')

In [47]:
url = 'https://www.naukri.com'
driver.get(url)

#<a class="title fw500 ellipsis" 
#href="https://www.naukri.com/job-listings-data-analyst-sears-holdings-bangalore-bengaluru-1-to-3-years-311221500434?src=sortby&amp;sid=16412401645262493_4&amp;xp=2&amp;px=1" 
#title="Data Analyst" target="_blank">Data Analyst</a>

In [48]:

srch_title_xpath = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
srch_title_xpath

In [49]:
srch_title_xpath.send_keys('Data Analyst')

In [50]:
srch_loc_xpath = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
srch_loc_xpath

In [51]:
srch_loc_xpath.send_keys('Banglore')

In [52]:
srch_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
srch_btn

In [53]:
srch_btn.click()

In [68]:

title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [74]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
job_titles = job_titles[0:10]
job_titles

['Senior Data Analyst',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Assistant Clinical Data Analyst',
 'Senior Data Analyst - CRM',
 'Lead - Data Analyst / Scientist',
 'Data Analyst',
 'Consultant - Data Analyst',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst - CRM']

In [83]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
print(len(loc_tags))
job_locations = []

for i in loc_tags:
    job_locations.append(i.text)
job_locations = job_locations[:10] 
job_locations

20

['Bengaluru/Bangalore',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [84]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
print(len(company_tags))
Company_names = []

for i in company_tags:
    Company_names.append(i.text)
Company_names = Company_names[:10] 
Company_names

20

['Flipkart',
 'Sejal Consulting Hub',
 'Labcorp Drug Development India Private Limited',
 'Gojek Tech',
 'Axim Technologies',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'Walmart',
 'GO-JEK India']

In [85]:
Exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
print(len(Exp_tags))
Exp_req = []

for i in Exp_tags:
    Exp_req.append(i.text)
Exp_req = Exp_req[:10] 
Exp_req

20

['4-6 Yrs',
 '0-3 Yrs',
 '0-2 Yrs',
 '2-5 Yrs',
 '12-14 Yrs',
 '1-2 Yrs',
 '1-3 Yrs',
 '4-8 Yrs',
 '4-7 Yrs',
 '4-8 Yrs']

In [86]:
df= pd.DataFrame({"JOB_TITLE":job_titles,"Job-location":job_locations,"Company_name":Company_names,"Experience_required":Exp_req})
df

,JOB_TITLE,Job-location,Company_name,Experience_required
0,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,4-6 Yrs
1,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Sejal Consulting Hub,0-3 Yrs
2,Assistant Clinical Data Analyst,Bangalore/Bengaluru,Labcorp Drug Development India Private Limited,0-2 Yrs
3,Senior Data Analyst - CRM,Bangalore/Bengaluru,Gojek Tech,2-5 Yrs
4,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
5,Data Analyst,Bengaluru/Bangalore,Flipkart,1-2 Yrs
6,Consultant - Data Analyst,Bengaluru/Bangalore,Flipkart,1-3 Yrs
7,Hiring For Data Analyst,Bangalore/Bengaluru,Flipkart,4-8 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Walmart,4-7 Yrs
9,Senior Data Analyst - CRM,Bangalore/Bengaluru,GO-JEK India,4-8 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
### have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
### This task will be done in following steps:
### 1. First get the webpage https://www.naukri.com/
### 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
### location” field.
### 3. Then click the search button.
### 4. Then scrape the data for the first 10 jobs results you get.
### 5. Finally create a dataframe of the scraped data.
### Note: All of the above steps have to be done in code. No step is to be done manually

In [88]:
driver1 = webdriver.Chrome('chromedriver.exe')

In [89]:
url1 = 'https://www.naukri.com/'
driver1.get(url1)

In [90]:
search_title_path = driver1.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_title_path

In [92]:
search_title_path.send_keys('Data Scientist')

In [100]:
search_loc_path = driver1.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc_path

In [101]:
search_loc_path.send_keys('Banglore')

In [102]:
srch_btn1 = driver1.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
srch_btn1.click()

In [103]:
srch_job_title1 = driver1.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
print(len(srch_job_title1))

Job_title1 = []

for i in srch_job_title1 :
    Job_title1.append(i.text)
Job_title1 = Job_title1[:10]
Job_title1

20

['Sr Data Scientist',
 'Senior/Lead Data Scientist - (Revenue Management)',
 'Senior/Lead - Data Scientist (Supply Chain)',
 'Associate Data Scientist',
 'Junior Programmer - Data Scientist',
 'Lead/Senior Data Scientist (NLP)',
 'Sr . Data Scientist',
 'Sr. Data Scientist',
 'Sr. Data Scientist',
 'Senior Data Scientist, Data Sciences']

In [104]:
Srch_job_loc1 = driver1.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
print(len(Srch_job_loc1))
Job_loc1 = []

for i in Srch_job_loc1:
    Job_loc1.append(i.text)
Job_loc1 = Job_loc1[:10]
Job_loc1

20

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru']

In [105]:
Srch_comp_name1 = driver1.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
print(len(Srch_comp_name1))
Companies_Name1 = []
for i in Srch_comp_name1:
    Companies_Name1.append(i.text)
Companies_Name1 = Companies_Name1[:10]
Companies_Name1

20

['Siemens',
 'o9 Solutions Management India Private Limited',
 'o9 Solutions Management India Private Limited',
 'Shell',
 'GSK India',
 'Samya.AI A FRACTAL Entity',
 'RKSV',
 'Siemens',
 'NutaNXT Technologies',
 'Vmware']

In [107]:
df1 = pd.DataFrame({"Job-Title":Job_title1, "Job-Location":Job_loc1 , "Company_Name":Companies_Name1})
df1

,Job-Title,Job-Location,Company_Name
0,Sr Data Scientist,Bangalore/Bengaluru,Siemens
1,Senior/Lead Data Scientist - (Revenue Management),Bangalore/Bengaluru,o9 Solutions Management India Private Limited
2,Senior/Lead - Data Scientist (Supply Chain),Bangalore/Bengaluru,o9 Solutions Management India Private Limited
3,Associate Data Scientist,"Chennai, Bangalore/Bengaluru",Shell
4,Junior Programmer - Data Scientist,Bangalore/Bengaluru,GSK India
5,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
6,Sr . Data Scientist,"Mumbai, Bangalore/Bengaluru",RKSV
7,Sr. Data Scientist,Bangalore/Bengaluru,Siemens
8,Sr. Data Scientist,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)\...",NutaNXT Technologies
9,"Senior Data Scientist, Data Sciences",Bangalore/Bengaluru,Vmware

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:ASSIGNMENT 2
### You have to use the location and salary filter.
### You have to scrape data for “Data Scientist” designation for first 10 job results.
### You have to scrape the job-title, job-location, company name, experience required.
### The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [3]:
driver2 = webdriver.Chrome('chromedriver.exe')

In [6]:
url2 = 'https://www.naukri.com/'
driver2.get(url2)

In [11]:
search_title_path2 = driver2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_title_path2

In [12]:
search_title_path2.send_keys('Data Scientist')

In [13]:
srch_btn2 = driver2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
srch_btn2.click()

In [14]:
check_button = driver2.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
check_button.click()

In [15]:
check_button1 = driver2.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
check_button1.click()

In [16]:
Srch_job_title2 = driver2.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
print(len(Srch_job_title2))
job_title2 = []
for i in Srch_job_title2:
    job_title2.append(i.text)
job_title2 = job_title2[:10]
job_title2

20

['Data Scientist / Senior DS/ Team Lead',
 'Data Scientist | Python | Machine Learning | Deep Learning- Fresher',
 'Openings For Jr/mid/Sr level data Scientists',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Hiring For Data Analyst / Data Scientist',
 'Senior Data Scientist I',
 'Data Scientist',
 'Data Scientist',
 'Urgent Hiring For Data Scientist',
 'Urgent Hiring For Data Scientist']

In [19]:
Srch_job_loc2 = driver2.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
print(len(Srch_job_loc2))
job_loc2 = []
for i in Srch_job_loc2:
    job_loc2.append(i.text)
job_loc2 = job_loc2[:10]
job_loc2

20

['Mumbai, Gurgaon/Gurugram(Cyber City +1)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR',
 'Noida(Sector-59 Noida)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram(Uday Nagar)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru']

In [21]:
Srch_company_name2 = driver2.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
print(len(Srch_company_name2))
Company_name2 = []
for i in Srch_company_name2:
    Company_name2.append(i.text)
Company_name2 = Company_name2[:10]
Company_name2

20

['NebulARC Technologies Private Limited',
 'Schlesinger Group',
 'Pluto seven business solutions (p) limited',
 'HCL',
 'Careerera',
 'Delhivery',
 'Core Diagnostics Private Limited',
 'T & A Solutions',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited']

In [23]:
Srch_exp_req2 = driver2.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
print(len(Srch_exp_req2))
Exp_req2 = []
for i in Srch_exp_req2:
    Exp_req2.append(i.text)
Exp_req2 = Exp_req2[:10]
Exp_req2

20

['0-4 Yrs',
 '0-3 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '1-6 Yrs',
 '1-6 Yrs']

In [24]:
df2 = pd.DataFrame({'Job-title2':job_title2,'Job-location2':job_loc2,'Company_name2':Company_name2,'Experience_required2':Exp_req2})
df2

,Job-title2,Job-location2,Company_name2,Experience_required2
0,Data Scientist / Senior DS/ Team Lead,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",NebulARC Technologies Private Limited,0-4 Yrs
1,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
2,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
3,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL,2-6 Yrs
4,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,2-5 Yrs
5,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
6,Data Scientist,Gurgaon/Gurugram(Uday Nagar),Core Diagnostics Private Limited,2-7 Yrs
7,Data Scientist,Gurgaon/Gurugram,T & A Solutions,2-6 Yrs
8,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs
9,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-6 Yrs

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
### 1. Brand
### 2. Product Description
### 3. Price
### The attributes which you have to scrape is ticked marked in the below image.
### To scrape the data you have to go through following steps:
### 1. Go to Flipkart webpage by url : https://www.flipkart.com/
### 2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
### click the search icon
### 3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
### required data as usual.ASSIGNMENT 2
### 4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
### click on it.
### 5. Now scrape data from this page as usual
### 6. Repeat this until you get data for 100 sunglasses.
### Note: That all of the above steps have to be done by coding only and not manually.

In [32]:
driver3 = webdriver.Chrome('chromedriver.exe')

In [33]:
driver3.get('https://www.flipkart.com/')

In [42]:
search_item3 = driver3.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_item3

In [43]:
search_item3.send_keys('sunglasses')

In [45]:
search_flp_button1 = driver3.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_flp_button1.click()

In [46]:
Search_brand_name1 = driver3.find_elements_by_xpath('//div[@class="_2WkVRV"]')
print(len(Search_brand_name1))
Brand_name1 = []
for i in Search_brand_name1:
    Brand_name1.append(i.text)
Brand_name1

40

['SKYZA INDIA',
 'Silver Kartz',
 'PIRASO',
 'Elligator',
 'Fastrack',
 'SRPM',
 'kingsunglasses',
 'chawla fashion',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'Singco India',
 'PHENOMENAL',
 'New Specs',
 'PIRASO',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'PIRASO',
 'ROYAL SON',
 'ROYAL SON',
 'hipe',
 'New Specs',
 'Silver Kartz',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PHENOMENAL',
 'Singco India',
 'chawla fashion',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'agera',
 'ROYAL SON',
 'ROYAL SON',
 'Elligator',
 'Lee Topper',
 'VINCENT CHASE']

In [53]:
Search_prod_disc1 = driver3.find_elements_by_xpath('//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
print(len(Search_prod_disc1))
Prod_disc1 = []
for i in Search_prod_disc1:
    Prod_disc1.append(i.text)
Prod_disc1

40

['Mirrored, Riding Glasses, Gradient Cat-eye Sunglasses (...',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Riding Glasses Aviator Sunglasses (Free ...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored, Gradient, UV Protection Aviator Sunglasses (5...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (88)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Riding Glasses Round Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Gradient Aviator Sunglasses (55)',
 'Polarized Retro Square Sunglasses (59)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Round Sunglasses (53)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...']

In [54]:
Search_prod_price1 = driver3.find_elements_by_xpath('//div[@class="_30jeq3"]')
print(len(Search_prod_price1))
Prod_price1 = []
for i in Search_prod_price1:
    Prod_price1.append(i.text)
Prod_price1

40

['₹159',
 '₹367',
 '₹200',
 '₹248',
 '₹759',
 '₹198',
 '₹188',
 '₹165',
 '₹499',
 '₹165',
 '₹200',
 '₹203',
 '₹309',
 '₹262',
 '₹190',
 '₹349',
 '₹271',
 '₹383',
 '₹200',
 '₹449',
 '₹359',
 '₹178',
 '₹259',
 '₹255',
 '₹181',
 '₹273',
 '₹549',
 '₹426',
 '₹299',
 '₹299',
 '₹599',
 '₹165',
 '₹474',
 '₹299',
 '₹196',
 '₹664',
 '₹449',
 '₹189',
 '₹276',
 '₹999']

In [56]:
Search_prod_discount1 = driver3.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
print(len(Search_prod_discount1))
Prod_discount1 = []
for i in Search_prod_discount1:
    Prod_discount1.append(i.text)
Prod_discount1

40

['68% off',
 '75% off',
 '87% off',
 '90% off',
 '15% off',
 '84% off',
 '81% off',
 '86% off',
 '37% off',
 '90% off',
 '87% off',
 '70% off',
 '84% off',
 '83% off',
 '88% off',
 '82% off',
 '84% off',
 '80% off',
 '87% off',
 '70% off',
 '76% off',
 '85% off',
 '87% off',
 '78% off',
 '81% off',
 '86% off',
 '31% off',
 '78% off',
 '88% off',
 '85% off',
 '80% off',
 '86% off',
 '78% off',
 '85% off',
 '82% off',
 '55% off',
 '70% off',
 '87% off',
 '88% off',
 '50% off']

In [57]:
Next_pg_button1 = driver3.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
Next_pg_button1.click()

In [58]:
Search_brand_name2 = driver3.find_elements_by_xpath('//div[@class="_2WkVRV"]')
print(len(Search_brand_name2))
Brand_name2 = []
for i in Search_brand_name2:
    Brand_name2.append(i.text)
Brand_name2

40

['agera',
 'kingsunglasses',
 'Lee Topper',
 'ROZZETTA CRAFT',
 'Rich Club',
 'Rich Club',
 'Fastrack',
 'DEIXELS',
 'Elligator',
 'PIRASO',
 'DEIXELS',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'maxa',
 'Singco India',
 'AISLIN',
 'Fastrack',
 'hipe',
 'Fastrack',
 'VILLAIN',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'hipe',
 'Silver Kartz',
 'AISLIN',
 'ROYAL SON',
 'Fastrack',
 'Elligator',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'SRPM',
 'NuVew',
 'Fastrack',
 'Rich Club',
 'Lee Topper',
 'AISLIN']

In [59]:
Search_prod_disc2 = driver3.find_elements_by_xpath('//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
print(len(Search_prod_disc2))
Prod_disc2 = []
for i in Search_prod_disc2:
    Prod_disc2.append(i.text)
Prod_disc2

40

['Gradient Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized Round Sunglasses (48)',
 'UV Protection Round Sunglasses (50)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Wayfarer, Ov...',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored, Riding Glasses, Night Vision, ...',
 'UV Protection Shield Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (57)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'Mirrored Aviator Sunglasses (55)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'Gradient Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'UV Protection, Gradient Oval Sunglasses (58)']

In [60]:
Search_prod_discount2 = driver3.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
print(len(Search_prod_discount2))
Prod_discount2 = []
for i in Search_prod_discount2:
    Prod_discount2.append(i.text)
Prod_discount2

40

['82% off',
 '84% off',
 '80% off',
 '80% off',
 '66% off',
 '64% off',
 '17% off',
 '78% off',
 '79% off',
 '86% off',
 '80% off',
 '84% off',
 '76% off',
 '79% off',
 '86% off',
 '67% off',
 '28% off',
 '87% off',
 '12% off',
 '26% off',
 '16% off',
 '81% off',
 '66% off',
 '80% off',
 '82% off',
 '79% off',
 '83% off',
 '69% off',
 '76% off',
 '20% off',
 '85% off',
 '88% off',
 '82% off',
 '84% off',
 '79% off',
 '69% off',
 '20% off',
 '67% off',
 '71% off',
 '69% off']

In [63]:
Search_prod_price2 = driver3.find_elements_by_xpath('//div[@class="_30jeq3"]')
print(len(Search_prod_price2))
Prod_price2 = []
for i in Search_prod_price2:
    Prod_price2.append(i.text)
Prod_price2

40

['₹349',
 '₹1,089',
 '₹201',
 '₹599',
 '₹575',
 '₹789',
 '₹179',
 '₹449',
 '₹144',
 '₹209',
 '₹349',
 '₹383',
 '₹192',
 '₹291',
 '₹375',
 '₹1,179',
 '₹246',
 '₹163',
 '₹227',
 '₹549',
 '₹498',
 '₹207',
 '₹348',
 '₹1,179',
 '₹287',
 '₹229',
 '₹220',
 '₹1,415',
 '₹239',
 '₹256',
 '₹449',
 '₹499',
 '₹224',
 '₹209',
 '₹499',
 '₹426',
 '₹299',
 '₹200',
 '₹664',
 '₹426']

In [64]:
Next_pg_button1 = driver3.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
Next_pg_button1.click()

In [70]:
Search_brand_name3 = driver3.find_elements_by_xpath('//div[@class="_2WkVRV"]')
print(len(Search_brand_name3))
Brand_name3 = []
for i in Search_brand_name3:
    Brand_name3.append(i.text)
Brand_name3 = Brand_name3[:20]
print(len(Brand_name3))
Brand_name3

40
20

['Fastrack',
 'ROZZETTA CRAFT',
 'New Specs',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'hipe',
 'ROYAL SON',
 'AISLIN',
 'kingsunglasses',
 'HIPPON',
 'hipe',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'PHENOMENAL',
 'Fastrack',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'Rich Club',
 'ROZZETTA CRAFT',
 'VINCENT CHASE']

In [69]:
Search_prod_disc3 = driver3.find_elements_by_xpath('//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
print(len(Search_prod_disc3))
Prod_disc3 = []
for i in Search_prod_disc3:
    Prod_disc3.append(i.text)
Prod_disc3 = Prod_disc3[:20]
print(len(Prod_disc3))
Prod_disc3

40
20

['UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Sports Sunglasses (Free Size)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient, Mirrored, Riding Glasses, Nigh...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Gradient Round Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Others Round Sunglasses (48)',
 'Mirrored, UV Protection Round Sunglasses (Free Size)',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)']

In [72]:
Search_prod_discount3 = driver3.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
print(len(Search_prod_discount3))
Prod_discount3 = []
for i in Search_prod_discount3:
    Prod_discount3.append(i.text)
Prod_discount3 = Prod_discount3[:20]
print(len(Prod_discount3))
Prod_discount3

40
20

['20% off',
 '84% off',
 '88% off',
 '75% off',
 '76% off',
 '85% off',
 '76% off',
 '67% off',
 '83% off',
 '81% off',
 '84% off',
 '88% off',
 '76% off',
 '85% off',
 '20% off',
 '78% off',
 '86% off',
 '72% off',
 '75% off',
 '41% off']

In [74]:
Search_prod_price3 = driver3.find_elements_by_xpath('//div[@class="_30jeq3"]')
print(len(Search_prod_price3))
Prod_price3 = []
for i in Search_prod_price3:
    Prod_price3.append(i.text)
Prod_price3 = Prod_price3[:20]
print(len(Prod_price3))
Prod_price3

40
20

['₹639',
 '₹426',
 '₹148',
 '₹499',
 '₹359',
 '₹189',
 '₹359',
 '₹498',
 '₹273',
 '₹218',
 '₹287',
 '₹426',
 '₹359',
 '₹287',
 '₹639',
 '₹474',
 '₹235',
 '₹220',
 '₹360',
 '₹1,179']

In [82]:
final_brand_names = Brand_name1 + Brand_name2 + Brand_name3
final_prod_discr = Prod_disc1 + Prod_disc2 + Prod_disc3
final_price_list = Prod_price1 + Prod_price2 + Prod_price3
final_disc_list = Prod_discount1 + Prod_discount2 + Prod_discount3
print(len(final_brand_names))
print(len(final_prod_discr))
print(len(final_price_list))
print(len(final_disc_list))

100
100
100
100

In [83]:
df3 = pd.DataFrame({'Brand':final_brand_names ,' Product Description':final_prod_discr , 'Price':final_price_list ,'Discount':final_disc_list })
df3

,Brand,Product Description,Price,Discount
0,SKYZA INDIA,"Mirrored, Riding Glasses, Gradient Cat-eye Sun...",₹159,68% off
1,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹367,75% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
3,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off
...,...,...,...,...
95,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹474,78% off
96,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (Free...",₹235,86% off
97,Rich Club,"UV Protection, Others Round Sunglasses (48)",₹220,72% off
98,ROZZETTA CRAFT,"Mirrored, UV Protection Round Sunglasses (Free...",₹360,75% off
99,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,"₹1,179",41% off

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
### https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
### TSVZAXUHGREPBFGI&marketplace.
### As shown in the above page you have to scrape the tick marked attributes.These are:
### 1. Rating
### 2. Review summary
### 3. Full review
### 4. You have to scrape this data for first 100 reviews.

In [88]:
driver4 = webdriver.Chrome('chromedriver.exe')
driver4.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [91]:
All_reveiw_button1 = driver4.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
All_reveiw_button1.click()

In [92]:
#Rating
Search_Rev_rating1 = driver4.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
print(len(Search_Rev_rating1))
Rev_rating1 = []
for i in Search_Rev_rating1:
    Rev_rating1.append(i.text)
Rev_rating1 

#Review_Summary
Search_Rev_Summary1 = driver4.find_elements_by_xpath('//p[@class="_2-N8zT"]')
print(len(Search_Rev_Summary1))
Rev_Summary1 = []
for i in Search_Rev_Summary1:
    Rev_Summary1.append(i.text)
Rev_Summary1 

#Full_Review
Search_full_Review1 = driver4.find_elements_by_xpath('//div[@class="t-ZTKy"]')
print(len(Search_full_Review1))
full_Review1 = []
for i in Search_full_Review1:
    full_Review1.append(i.text)
full_Review1

10
10
10

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..']

In [104]:
iphone_Next_page_button1 = driver4.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]')
iphone_Next_page_button1.click()